**/__pycache__
.vscode/
cat_faces/
layers_neurons_tuning_1/
layers_neurons_tuning_2/
layers_neurons_tuning_3/
layers_neurons_tuning_4/
learinng_rate_tuning_1/
learning_rate_tuning_2/
regularization/
test_cats/
mini_batch/
datasets/
**/*.h5
